<div class="page-header">
  <h3>Dish #<%= @dish.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name of dishes</dt>
      <dd><%= @dish.name_of_dishes %></dd>

      <dt>Cuisine</dt>
      <dd><%= @dish.cuisine_id %></dd>

      <dt>Favorites</dt>
      <dd><%= @dish.favorites_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/dishes" class="btn btn-primary">
        Back
      </a>
      <a href="/dishes/<%= @dish.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_dish/<%= @dish.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Dish has many menu_items -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Menu Items
      </li>

      <% @dish.menu_items.each do |menu_item| %>
        <li class="list-group-item">
          <a href="/menu_items/<%= menu_item.id %>">
            <%= menu_item.dishes_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/menu_items/<%= menu_item.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/menu_items/<%= menu_item.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_menu_item/<%= menu_item.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_menu_item" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for dishes_id -->
      <div class="form-group">
        <label for="dishes_id" class="control-label">
          Dishes
        </label>

        <%= select_tag(:dishes_id, options_from_collection_for_select(Dish.all, :id, :name_of_dishes), :class => "form-control") %>
      </div>

      <!-- Label and input for venues_id -->
      <div class="form-group">
        <label for="venues_id" class="control-label">
          Venues
        </label>

        <%= select_tag(:venues_id, options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for favorites_id -->
      <div class="form-group">
        <label for="favorites_id" class="control-label">
          Favorites
        </label>

        <input type="text" id="favorites_id" name="favorites_id" placeholder="Favorites" class="form-control" value="">
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for calories -->
      <div class="form-group">
        <label for="calories" class="control-label">
          Calories
        </label>

        <input type="text" id="calories" name="calories" placeholder="Calories" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Menu Item
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Dish has many venues -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Venues
      </li>

      <% @dish.venues.each do |venue| %>
        <li class="list-group-item">
          <a href="/venues/<%= venue.id %>">
            <%= venue.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/venues/<%= venue.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/venues/<%= venue.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_venue/<%= venue.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
